@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('commonClass.css');
@import url('nav.css');

:root{
    --data-width: 140ch;
    --nav-gap: 4ch;
    --header-height: calc(2 * (10px + 8px ) + 1rem);
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
}


#hero::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-image: url('assets/sample_hero_bg.png');
    opacity: 0.15;
}

.data {
    position: relative;
    z-index: 10;
    height: calc(100% - 40px );
    width: min( var(--data-width), calc(100% - 40px ));
    padding: 20px;
}

#hero .data {
    padding-top: calc(var(--header-height) + 20px);
    height: calc(100% - 40px - var(--header-height));
    justify-content: start;
}

#hero .data h1 {
    margin-top: 10vh;
    margin-bottom: 40px;
    width: fit-content;
    font-size: 2rem;
    font-weight: 600;
    max-width: 24ch;
}

#hero .data div {
    display: flex;
}

#hero .data div a {
    padding: 9px 9px;
    border: 2px solid var(--accent);
    border-radius: 8px;
    margin: 4px 0px;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: fit-content;

}

#hero .data div a > span {
    font-weight: 400;
    font-size: 1rem;
    position: relative;
    padding-left: calc( 1.4rem + 0.5ch );
}



#hero .data div a > span::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 1.4rem;
    width: 1.4rem;
    transform: translate(-50%, -50%);
    background-size: cover;
}

#hero .data div a:nth-of-type(1) > span::before {
    background-image: url(assets/reg_dark.svg);
    left: 12px;
}

#hero .data div a:nth-of-type(2) > span::before {
    background-image: url(assets/download_dark.svg);
    left: 9px;
}


#hero .data div a > span::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 1px;
    width: 0px;
    transition: width 120ms ease-out;
}

#hero .data a:nth-of-type(1) {
    background-color: var(--accent);
    margin-right: 1ch;
}

#hero .data a:nth-of-type(1) > span {color: var(--background);}

#hero .data a:nth-of-type(1) > span::after{background-color: var(--background)}

#hero .data a:nth-of-type(2) {background-color: var(--background);}

#hero .data a:nth-of-type(2) > span{color: var(--color);}

#hero .data a:nth-of-type(2) > span::after{background-color: var(--color)}

#hero .data a:focus > span::after,
#hero .data a:hover > span::after {
    width: 100%;
}



@media (min-width: 545px) {

    #hero .data > * {
        margin-left: 10%;
    }

    #hero .data h1 {
        margin-top: 10%;
        font-size: 2.2rem;
    }
    #hero .data div a > span {
        font-weight: 500;
        font-size: 1.2rem;
        padding-left: calc( 1.5rem + 0.5ch );
    }
    #hero .data div a > span::before {
        height: 1.5rem;
        width: 1.5rem;
    }
    #hero .data div a > span::after {
        bottom: -4px;
        height: 2px;
}

@media (min-width: 1020px) {
    #hero .data h1 {
        font-size: 3.3rem;
    }
}